body{
   
    display: block;
    justify-content: center;
    align-items: center;
    background-image: url(circular-glow-in-5120x2880-24776.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    backdrop-filter: blur(3px);
}
@media screen and (max-width: 400px) {
    .container {
        width: 100%; /* Take up the full screen width */
        flex-direction: column; /* Stack elements vertically instead of horizontally */
    }}
form{
    margin: 0%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height:720px;
}
button{ 
    margin: 20px;
    display: inline-block;
    color: hsl(261, 100%, 27%);
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: hsl(174, 100%, 50%);
    transition: 0.2s;
    cursor: pointer;
    font-weight: bold;
}
button:hover{
    color: rgb(0, 0, 0);
    background-color: hsl(174, 100%, 40%);
}



